<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inception - CV</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <section id="main">
        <article id="title"><h1>Inception<br>bdetune</h1></article>
        <article id="left">
            <h2>Skills</h2>
        </article>
        <article id="right"><h2>Professional Experience</h2></article>
    </section>
</body>
</html>